@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);
$body-bg-main: #f4f5f7;
$color-primary: #0a80ff;
$color-primary-light: #0a80ffa4;
$color-theme-700: #737373;
$color-600: #8e8e8e;
$color-500: #b1afaf;
$border-primary: #dadada;
$page-paper-main: #fff;
$color-secondary: #0a80ff;
$color-theme-900: #373737;
$shadow-primary: 0 64px 64px 0 rgba(0, 0, 0, 0.06),
  0 32px 32px 0 rgba(0, 0, 0, 0.03), 0 16px 16px 0 rgba(0, 0, 0, 0.02),
  0 4px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.02);
$shadow-secondary: 0 64px 64px 0 rgba(187, 214, 247, 0.726),
  0 32px 32px 0 rgba(187, 214, 247, 0.726),
  0 16px 16px 0 rgba(187, 214, 247, 0.726),
  0 4px 4px 0 rgba(187, 214, 247, 0.726), 0 2px 2px 0 rgba(187, 214, 247, 0.726);

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $body-bg-main !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
  font-weight: 500;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.react-logo {
  animation: rotate 4s linear infinite;
  width: 450px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-pro:hover {
  text-decoration: none !important;
  box-shadow: 0 0 0 2px $color-primary;
}

.btn-pro {
  line-height: 32px !important;
  height: 32px !important;
  padding: 0 16px !important;
  background-color: $color-primary;
  color: $page-paper-main !important;
  border: 1px solid transparent;
  background: $color-primary;
  border-radius: 16px;
  transition: all 0.3s;
  font-weight: 500 !important;
  font-size: 14px !important;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: unset;
}

.btn {
  line-height: 28px !important;
  color: $color-theme-700 !important;
  font-weight: 500 !important;
  height: 32px !important;
  padding: 0 16px !important;
  border: 2px solid $border-primary !important;
  border-radius: 30px !important;
  font-size: 14px !important;
  transition: all 0.3s;
}

.btn:hover {
  border: 2px solid $color-primary !important;
  text-decoration: none !important;
  color: $color-600 !important;
}

.menu-item {
  height: 47px;
  line-height: 47px;
  color: $color-theme-700;
  font-weight: 400;
  transition: color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.menu-item:hover {
  color: $color-secondary !important;
}

.project-menu-item {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  height: 47px;
  line-height: 47px;
  color: $color-theme-700;
  font-weight: 400;
  transition: color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  box-sizing: content-box;
}

.project-menu-item:hover {
  color: $color-secondary !important;
}

.project-menu-item-chosen {
  border-bottom: 4px solid $color-primary;
  color: $color-secondary !important;
}

.page-title {
  width: calc(100% - 310px);
  display: inline-block;
  font-size: 32px !important;
  line-height: 32px !important;
  font-weight: 300 !important;
  padding: 0 !important;
  margin: 0 !important;
  color: $color-theme-900 !important;
  border: none !important;
  vertical-align: top;
}

.project-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.project-card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.project-card .description {
  font-size: 14px;
  color: $color-theme-700;
}

.project-card .title {
  color: $color-theme-900;
  padding-bottom: 5px;
  font-size: 17px;
}

.project-card .for-company {
  font-size: 12px;
  font-weight: 600;
  color: $color-theme-700;
}

.project-card .for-company {
  font-size: 12px;
  padding-bottom: 5px;
  color: $color-theme-700;
  font-weight: 600;
}

.popover-inner {
  font-size: 14px;
}

.popover-inner .popover-content-item {
  background: inherit;
  transition: all 0.3s;
  color: $color-theme-700;
  cursor: pointer;
  padding: 0 10px;
  text-align: left;
}

.popover-inner .popover-content-item:hover {
  background: $color-primary;
  color: white;
}

.popover-inner hr {
  margin: 5px 0;
}

.popover-inner-dark {
  color: white;
  font-size: 13px;
}

.hoverable-gray {
  color: $color-600;
  transition: all 0.3s;
}

.hoverable-gray:hover {
  color: $color-theme-700;
}

.calendar-container {
  border-radius: 0.5rem;
}

.collab-calendar {
  box-shadow: $shadow-primary;
  border-radius: 0.5rem;
}

.popover-label {
  font-size: 13px;
  color: $color-theme-700;
}

.note-textarea {
  padding: 2px;
  margin: 0;
  font-size: 12px;
  min-width: 100%;
  max-width: 100%;
  color: $color-theme-700;
}

.activity-date {
  color: $color-theme-700;
}

.collab-activity {
  width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500 !important;
}

.calendar-event-card {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background: white;
}

.calendar-event-card:hover {
  box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.2);
}

.vertical-timeline-element-content {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.5rem !important;
  cursor: pointer;
  transition: all 0.3s;
  background: white;
}

.vertical-timeline-element-content:hover {
  box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.2) !important;
}

.vertical-timeline-element-icon {
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-timeline-element-content-arrow {
  top: 8px !important;
}

.vertical-timeline-element {
  margin: 1.5em 0 !important;
}

.vertical-timeline::before {
  left: 13px !important;
}

.vertical-timeline {
  padding: 0 !important;
  margin: 0 !important;
}

.chat-time {
  font-size: 12px;
  color: $color-600;
}

.chat-preview-message {
  color: $color-600;
  font-size: 14px;
}

.chat-preview-message-unread {
  color: $color-theme-900;
  font-size: 14px;
  font-weight: 700;
}

.chat-preview {
  cursor: pointer;
  transition: all 0.3s;
}

.chat-preview:hover {
  background: white;
}

.collab-chat {
  box-shadow: $shadow-primary;
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.message {
  padding: 1rem;
  font-size: 15px;
  border-radius: 0.5rem !important;
  font-weight: 400;
}

.guest-message {
  background: $body-bg-main;
  color: $color-theme-700;
}

.own-message {
  background: $color-primary;
  color: white;
}

.own-message::selection {
  background: gray;
}

.collab-input {
  border-radius: 25px;
  background: white;
  border: none;
  outline: none;
  box-shadow: $shadow-primary;
  padding: 0 20px !important;
  color: $color-theme-700;
}

.collab-input::placeholder {
  color: $color-600;
  font-size: 14px;
}

.collab-project {
  box-shadow: $shadow-primary;
  overflow: hidden;
  color: $color-theme-700;
}

input[type="text"]::placeholder {
  color: $color-600;
}

input[type="text"] {
  border: 1px solid $border-primary;
  border-radius: 10px;
  outline: none;
  color: $color-theme-700;
  font-size: 14px;
  padding: 4px 10px 6px 8px !important;
  height: 32px;
  background-color: white;
  transition: all 0.3s ease;
}

input[type="text"]:hover {
  outline: none;
  border-color: $color-primary;
}

input[type="text"]:focus {
  border-color: $color-primary !important;
  box-shadow: 0 0 0 3px $color-primary-light !important;
}

label {
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  display: block;
  color: $color-theme-700;
  line-height: 13px;
}

textarea {
  border: 1px solid $border-primary;
  border-radius: 10px;
  outline: none;
  color: $color-theme-700;
  font-size: 14px !important;
  padding: 4px 10px 6px 8px !important;
  height: 32px;
  background-color: white;
  transition: border-color 0.3s ease;
}

textarea:hover {
  outline: none;
  border-color: $color-primary;
}

textarea:focus {
  border-color: $color-primary !important;
  box-shadow: 0 0 0 3px $color-primary-light !important;
}

textarea::placeholder {
  font-size: 14px;
  color: $color-600;
}

input[type="text"]::placeholder {
  font-size: 14px;
}

.clickable-item {
  cursor: pointer;
  @extend .hoverable-gray;
}

.new-project {
  box-shadow: $shadow-primary;
  border-radius: 0.5rem !important;
  overflow: hidden;
  background: white;
}

.photo-circle-sm {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.basic-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem !important;
  overflow: hidden;
  background: white;
  transition: all 0.3s;
  color: $color-theme-700;
}

.basic-card:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
  cursor: pointer;
}

.people-list-item {
  font-size: 14px;
}

.navbar-icon {
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  @extend .hoverable-gray;
}

.navbar-icon:hover {
  background: white;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.15);
}

.notification-item {
  background: white;
  color: $color-theme-900;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  transition: all 0.3s;
}

.notification-item:hover {
  background: $body-bg-main;
}

.times-table-row {
  background: $body-bg-main;
  padding: 5px 10px;
  color: $color-theme-900;
  border-bottom: 1px solid $color-600;
}

.time-record-date {
  color: $color-theme-900;
  font-size: 14px;
}

.file-card {
  border-radius: 0.5rem !important;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.file-card:hover {
  border: 1px solid $border-primary;
}
.alt-chat {
  background: white;
  border-radius: 0.5rem !important;
  box-shadow: $shadow-primary;
}

.alt-chat-message {
  font-size: 14px;
  color: $color-theme-700;
  font-weight: 500;
}

.alt-chat-message-unread {
  font-size: 14px;
  color: $color-theme-700;
  font-weight: 700;
}

.alt-chat-author {
  font-size: 14px;
  color: $color-theme-900;
}

.alt-chat-date {
  font-size: 12px;
  color: $color-500;
}

.checkbox-pro {
  border: 2px solid $border-primary;
  transition: border 0.3s;
  cursor: pointer;
}

.checkbox-pro:hover {
  border: 2px solid $color-primary;
}

.file-name-fixed {
  width: 120px !important;
}

.mobile-project-navbar {
  width: 100%;
  background: white;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.15);
}

.project-card-corners {
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .project-card-corners {
    border-radius: 0;
  }
}
